pipeline/snowflake_pipeline.json
{
	"name": "snowflake_pipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ds_blob_csv_copy1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.FilesToLoad",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "ds_blob_csv",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SnowflakeV2Sink",
									"importSettings": {
										"type": "SnowflakeImportCopyCommand"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_blob_csv",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().SourceFile",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_snowflake_table",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": "RAW",
										"tablename": {
											"value": "@item().TargetTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ds_blob_csv_copy1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"preCopyScript": "TRUNCATE TABLE RAW.PROJECTS;",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand",
							"additionalCopyOptions": {
								"FILE_FORMAT": "RAW.FF_CSV_ADF",
								"RECORD_DELIMITER": "\\n"
							}
						}
					},
					"enableStaging": true
				},
				"inputs": [
					{
						"referenceName": "ds_blob_csv",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "projects.csv",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_snowflake_table",
						"type": "DatasetReference",
						"parameters": {
							"schemaname": "RAW",
							"tablename": {
								"value": "PROJECTS",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"FilesToLoad": {
				"type": "array",
				"defaultValue": [
					{
						"SourceFile": "fund_sources_q.csv",
						"TargetTable": "FUND_SOURCES"
					},
					{
						"SourceFile": "projects.csv",
						"TargetTable": "PROJECTS"
					},
					{
						"SourceFile": "vendors.csv",
						"TargetTable": "VENDORS"
					},
					{
						"SourceFile": "payments.csv",
						"TargetTable": "PAYMENTS"
					}
				]
			}
		},
		"annotations": []
	}
}